#container header h1 {
    padding-left: 60px;
    background-image: url('/4ZPmj.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
}

ul#social-media a {
    text-decoration: none;
}

/* SVG-Icons */
.bi {
  display: inline-block;
}
.bi-link {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--wk-accent-color-3);
}

/* talks */

#talks h3 {
  display: list-item;
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
  font-size:  1em;
}